.mui-ellipsis-3 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.innerCtn{
text-indent: 1rem;
line-height: 0.8rem;
font-size: 0.5rem;
}